@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.navbar-items {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items li {
  list-style: none;
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 6%;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
  font-size: 1.2rem;
}

.navbar-items img {
  margin-right: 10%;
  width: 165.6px;
  height: 25px;
}

.cart-pfp {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pfp {
  width: 40%;
}

.cart {
  width: 16%;
}

.product-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}

.product-photos {
  width: 55%;
}

.main-img {
  width: 80%;
  height: same-as-width;
  border-radius: 3%;
  margin-bottom: 4%;
}

.img-container img {
  width: 20%;
  height: same-as-width;
  border-radius: 10%;
  cursor: pointer;
}

.img-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3%;
}

.price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10%;
}

.price-container div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}

.addtocart-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  height: 10%;
}

.addtocart-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
}

.addtocart-container div button {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  position: relative;
}

.minus-btn::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
}

.plus-btn::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
}

.plus-btn::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
  transform: rotate(90deg);
}

.addtocart-container div h4 {
  font-size: 1.5rem;
}

.addtocart-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 60%;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  cursor: pointer;
}

.product-info h6 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.product-info h1 {
  text-transform: capitalize;
  font-size: 4rem;
  opacity: 90%;
  font-weight: 700;
}

.product-info p {
  font-size: 1.4rem;
  color: hsl(219, 9%, 45%);
  line-height: 2rem;
}

.stars-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: hsl(223, 64%, 98%);
  padding: 5px 10px;
  border-radius: 10px;
}

.star-filled {
  fill: yellow;
  stroke: yellow;
  width: 30px;
  height: 30px;
}

.star {
  stroke-width: 2.5px;
  width: 30px;
  height: 30px;
  stroke-opacity: 90%;
}

.stars-container h3 {
  margin-left: 20px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.price-container div h2 {
  font-size: 2.5rem;
  opacity: 90%;
}

.price-container div h3 {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.3rem;
}

.price-container h4 {
  font-size: 1.3rem;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
