@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.navbar-items {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items li {
  list-style: none;
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 6%;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
  font-size: 1.2rem;
}

.navbar-items img {
  margin-right: 10%;
  width: 165.6px;
  height: 25px;
}

.cart-pfp {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pfp {
  width: 40%;
  cursor: pointer;
  border-radius: 50%;
  border-color: hsl(26, 100%, 55%);
}

.pfp:hover {
  border: solid 2px hsl(26, 100%, 55%);
}

.cart-icon {
  width: 16%;
  cursor: pointer;
  transition: 0.3s;
}

.cart-icon:hover {
  width: 20%;
  margin-left: -2%;
}

.cart-container {
  position: absolute;
  top: 120%;
  left: -112.8%;
  width: 240%;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.cart-container-empty {
  height: 360%;
}

.cart-container h3 {
  text-transform: capitalize;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart-container h4 {
  width: 100%;
  height: 76%;
  font-size: 1.1rem;
  color: hsl(219, 9%, 45%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.cart-items-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7%;
}

.cart-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7%;
}

.cart-product-img {
  width: 16%;
  height: 16%;
  border-radius: 5px;
}

.item-name-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.cart-delete {
  cursor: pointer;
  width: 5%;
}

.cart-items h5 {
  text-transform: capitalize;
  font-size: 1rem;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  margin-bottom: 1.5%;
}

.cart-items h6 {
  font-size: 1rem;
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  margin-top: 1.5%;
}

.checkout-btn {
  text-transform: capitalize;
  width: 100%;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  border-radius: 10px;
  padding: 5% 0;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background-color: hsl(26, 100%, 70%);
}

.product-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}

.product-photos {
  width: 55%;
}

.main-img {
  width: 80%;
  height: same-as-width;
  border-radius: 3%;
  margin-bottom: 4%;
}

.img-container div {
  width: 20%;
  height: same-as-width;
  border-radius: 10%;
  border-color: hsl(26, 100%, 55%);
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.img-container img:hover {
  opacity: 0.5;
}

.active-img {
  opacity: 0.5;
}

.active-div {
  border: solid 4px hsl(26, 100%, 55%);
}

.main-img::before {
  content: "";
  position: absolute;
  background-color: blue;
  width: 200%;
  height: 200%;
}

.img-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.product-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3%;
}

.price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10%;
}

.price-container div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
}

.addtocart-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  height: 10%;
}

.addtocart-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 40%;
  background-color: hsl(223, 64%, 98%);
  border-radius: 10px;
}

.addtocart-container div button {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
}

.minus-btn::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
  transition: 0.3s;
}

.plus-btn::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
  transition: 0.3s;
}

.plus-btn::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 7%;
  background-color: hsl(26, 100%, 55%);
  border-radius: 1px;
  transform: rotate(90deg);
  transition: 0.3s;
}

.minus-btn:hover::after,
.plus-btn:hover::after,
.plus-btn:hover::before {
  background-color: hsl(26, 100%, 70%);
}

.addtocart-container div h4 {
  font-size: 1.5rem;
  opacity: 0.9;
}

.addtocart-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 60%;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.addtocart-btn:hover {
  background-color: hsl(26, 100%, 70%);
}

.product-info h6 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.product-info h1 {
  text-transform: capitalize;
  font-size: 3.5rem;
  opacity: 0.9;
  font-weight: 700;
  z-index: -1;
}

.product-info p {
  font-size: 1.3rem;
  color: hsl(219, 9%, 45%);
  line-height: 2rem;
}

.stars-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: hsl(223, 64%, 98%);
  padding: 5px 10px;
  border-radius: 10px;
}

.star-filled {
  fill: rgb(255, 195, 0);
  stroke: rgb(255, 195, 0);
  width: 30px;
  height: 30px;
}

.star {
  stroke-width: 2.5px;
  width: 30px;
  height: 30px;
  stroke-opacity: 0.9;
  stroke: hsl(220, 13%, 13%);
}

.stars-container h3 {
  margin-left: 20px;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

.price-container div h2 {
  font-size: 2.5rem;
  opacity: 0.9;
}

.price-container div h3 {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1.3rem;
}

.price-container h4 {
  font-size: 1.3rem;
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

.reviews-container {
  width: 70%;
  margin: 0 auto;
}

.reviews-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.reviews-header button {
  width: 22%;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5% 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.reviews-header button:hover {
  background-color: hsl(26, 100%, 70%);
}

.reviews-header h1 {
  font-size: 2.5rem;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.review {
  display: flex;
  margin-bottom: 4%;
  width: 70%;
}

.review img {
  height: 48px;
  margin-right: 3%;
}

.stars {
  margin-bottom: 2%;
  width: 100%;
}

.stars span {
  margin-right: 1%;
}

.review-info {
  width: 100%;
  position: relative;
}

.review-info h3,
.review-info h4 {
  margin-bottom: 2%;
  font-size: 1.2rem;
  opacity: 0.9;
}

.review-info p {
  color: hsl(219, 9%, 45%);
}

.add-review {
  width: 70%;
}

.add-review form {
  display: flex;
  flex-direction: column;
}

.review-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

.add-review h1 {
  margin-bottom: 5%;
  font-size: 2.4rem;
  opacity: 0.9;
}

.review-btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10%;
}

.review-btn-container button {
  padding: 2.5% 0;
  width: 18%;
  border: none;
  background-color: hsl(0, 0%, 75%);
  border-radius: 10px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.review-btn-container button:nth-child(1):hover {
  background-color: hsl(0, 0%, 65%);
}

.review-btn-container button:nth-child(2) {
  margin-left: 4%;
  background-color: hsl(26, 100%, 55%);
}

.review-btn-container button:nth-child(2):hover {
  background-color: hsl(26, 100%, 70%);
}

.review-input-container label,
.review-input-container h4 {
  font-size: 1.5rem;
  margin-bottom: 1.5%;
  font-weight: 500;
  opacity: 0.9;
}

.review-input-container div {
  margin-bottom: 1.5%;
}

.review-input-container input {
  padding: 1.5%;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 70%);
  margin-bottom: 1.5%;
}

.review-input-container input::placeholder {
  font-size: 1rem;
  color: hsl(0, 0%, 70%);
}

.error {
  color: red;
}

.review-input-container:nth-child(3) input {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 15%;
}

.review-input-container div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2%;
}

.review-input-container div span {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.review-input-container div span .star,
.review-input-container div span .star-filled {
  height: 100%;
  width: 100%;
}

.submitting {
  opacity: 0.5;
}

.review-modify {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.review-modify h4 {
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.review-modify h4:nth-child(2) {
  margin-left: 20%;
}
